$fuente_principal : "Montserrat", sans-serif;

// Colores
$rojo: #8F0B13;
$gris: #c2c2c2;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$crema: #EFDFC5;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$escritorio: 1200px;
$escritorioXl: 1400px;